@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&display=swap&subset=cyrillic');

body {
    font-family: 'Ubuntu Mono', monospace;
}

h1, h2 {
    font-weight: 400;
    text-align: center;
}

nav { text-align: center; }

p { text-align: center; }

blockquote {
    margin-top: 25%;
    font-style: italic;
}

blockquote p {
    text-align: left;
}

blockquote cite {
    color: grey;
}

main {
    margin: 0 auto;
    max-width: 860px;
}

article time { background-color: lightgray; }

article p { text-align: left; }

article div { margin: 1rem 0; }

form label { 
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    text-align: right;
}

form input {
    padding: .25rem .5rem;
}