@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=cyrillic");

body {
  background-color: #f9fcff;
  /* background-image: url("https://www.transparenttextures.com/patterns/cubes.png"); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* background-size: 256px 256px; */
  font-family: "Ubuntu Mono", monospace;
  max-width: 860px;
  margin: 0 auto;
  padding: 0 1rem;
  color: rgb(29, 29, 29);
}

h1,
h2 {
  font-weight: 400;
  /* text-align: center; */
}

a {
  color: #000;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

p {
  line-height: 1.33;
  margin: 0.5rem 0;
}

header {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

header #name {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.25rem;
  margin-right: 1rem;
}

header #name:hover {
  text-decoration: underline;
}

header nav {
  display: inline-block;
  vertical-align: middle;
}

footer {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

blockquote {
  margin-top: 25%;
  /* font-style: italic; */
  color: #b3b3b3;
}

blockquote p {
  text-align: left;
}

blockquote cite {
  color: #b3b3b3;
}

main {
  margin: 0 auto;
}

article time {
  display: block;
  margin-top: 1.5rem;
  /* text-align: right; */
}

article h1 {
  font-size: 2rem;
  margin-top: 0.5rem;
}

article p {
  text-align: left;
  margin: 1rem 0;
}

article div {
  margin: 1rem 0;
}

form label {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  text-align: right;
}

form input {
  padding: 0.25rem 0.5rem;
}

figure {
  display: inline-block;
  margin: 0;
}

figcaption {
  margin-top: 0.5rem;
}

.row {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.row h2 {
  margin-top: 0;
}

.left {
  margin-right: 2rem;
}
