{{ define "layout" }}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>{{ .Title }} – sudo panel</title>
        {{ block "styles" . }}{{ end }}
    </head>

    <body>
        <header>
            <nav>
                <a {{ if eq .Active "home" }} class="active" {{ end }} href="/sudo/home">
                    <h2>sudo panel</h2>
                </a>
                <a {{ if eq .Active "posts" }} class="active" {{ end }} href="/sudo/posts">[posts]</a>
            </nav>
        </header>
        <main>{{ block "content" .}}{{ end }}</main>

        {{ block "scripts" . }}{{ end }}
        <script src="/static/js/admin_script.js"></script>
    </body>
</html>
{{ end }}
