{{ define "404" }}
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <title>Lost and never found / Андрей Галактионов</title>
</head>

<body>
  <main>
    <blockquote>
      <h1>404</h1>
      <p>&mdash; На ложе моем ночью искала я того, которого любит душа моя, искала его и не нашла его.</p>
      <p>
        &mdash; Встану же я, пойду по городу, по улицам и площадям, и буду искать того, которого любит душа моя;
        искала я его и не нашла его.
      </p>
      <footer>
        <cite>(Песня Песней 3:1)</cite>
      </footer>
    </blockquote>
  </main>
</body>

</html>
{{ end }}