{{ define "500" }}
  <html lang="ru">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Don't speak to me this way / Андрей Галактионов</title>
  </head>

  <body>
  <main>
    <blockquote>
      <h1>500</h1>
      <p>&mdash; Человек, который совершил ошибку и не исправил её, совершил ещё одну ошибку.</p>
      <footer>
        <cite>Конфуций</cite>
      </footer>
    </blockquote>
  </main>
  </body>

  </html>
{{ end }}