{{ define "content" }}

<h1 align="center">Блог</h1>
<p align="center">здесь я оставляю свои размышления</p>

<div width="220 ">
    <h3><a href="/blog/1.html">Заголовок поста</a></h3>
    <time datetime="2018-04-16">16.04.2018</time>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem architecto exercitationem voluptatibus dolore, natus deleniti enim modi quas adipisci expedita ab, laboriosam hic reprehenderit accusantium consequuntur corporis dolorum aliquid temporibus.</p>
</div>
<hr>
<div>
    <h3><a href="/blog/1.html">Заголовок поста</a></h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem architecto exercitationem voluptatibus dolore, natus deleniti enim modi quas adipisci expedita ab, laboriosam hic reprehenderit accusantium consequuntur corporis dolorum aliquid temporibus.</p>
</div>

{{ end }}