{{ define "title" }}Образование{{ end }} {{ define "content" }}

<h1>Образование</h1>

<section class="card">
  <div>
    <em>2020-2022</em> / <strong>Высшее, магистр, прикладная информатика</strong>
    <p>Университет ИТМО</p>
  </div>

  <div>
    <em>2013-2016</em> / <strong>Высшее, бакалавр, прикладная информатика</strong>
    <p>Московская Академия предпринимательства при Правительстве Москвы</p>
  </div>

  <div>
    <em>2009-2013</em> / <strong>Среднее специальное, техник, прикладная информатика</strong>
    <p>РГАТУ им П.А. Соловьёва</p>
  </div>
</section>

{{ end }}
