{{ define "content" }}

<h1>Здравствуйте!</h1>
<p>
  Меня зовут Андрей. Я занимаюсь разработкой веб-приложений.<br />
  Как на PHP, так и на Go. Например, этот веб-сайт написан на Go.
</p>

<div class="row">
  <figure class="left">
    <img src="/static/img/iam.jpg" alt="ясам" width="250" />
    <figcaption>так я выгляжу</figcaption>
  </figure>
  <div class="right">
    <h2>Вещи, которые мне нравятся:</h2>
    <p>
      Музыка <a href="https://youtu.be/9YicihzsxqY" target="_blank">The Bad Plus</a> &mdash; наполняет интеллектуальным.
    </p>
    <p>
      Игры от <a href="http://www.zachtronics.com/" target="_blank">Zachtronics</a>, всё ещё заставляющие ум шевелиться
      и скакать.
    </p>
    <p>
      Книги <a href="https://www.livelib.ru/author/180342/top-richard-fejnman" target="_blank">Ричарда Фейнмана</a>.
      &laquo;Радость познания&raquo; распрямила мне мозги в девятнадцать.
    </p>
    <p>
      Лекции <a href="http://ludix.com/moriarty/" target="_blank">Брайана Мориарти</a>, &mdash; особенно
      <a href="http://ludix.com/moriarty/psalm46.html" target="_blank">секрет псалма 46</a>, &mdash; неописуемо хороши.
      Я серьёзно.
    </p>
    <p>
      <a href="https://www.imdb.com/title/tt0141842/" target="_blank">The Sopranos</a> (и вся музыка в нём), от которого
      в животе моём наступают настоящие колики.
    </p>
  </div>
</div>

{{ end }}
