{{ define "content" }}

  <h1>Здравствуй!</h1>

  <p>
    Меня зовут Андрей. Я обычный парень из Тутаева &mdash; маленького города России, который напоминает Twin
    Peaks <span class="muted">(нет)</span>. Сейчас я живу и учусь в Санкт-Петербурге: осваиваю магистратуру в
    университете ИТМО. Мне {{ .Years }} лет.
  </p>
  <p>
    Меня увлекает разработка веб-сервисов / веб-приложений (Go, PHP) и создание видеоигр (C, UE4). Стоит отметить, что
    последним я уделяю особое внимание: игры &mdash; совершенная форма человеческой мысли. Кроме того, они просто
    интересны и очень полезны для ума.
  </p>
  <p>
    Пребывая в постоянном поиске новой искренности, мне пришла мысль создания пространства, в котором я могу хранить и
    накапливать весь свой цифровой опыт. Начиная с 2019 года, этот сайт &mdash; моё место в памяти Сети.
  </p>

  <div class="row">
    <figure class="left">
      <img src="/static/img/iam.jpg" alt="ясам" width="250"/>
      <figcaption>так я выгляжу</figcaption>
    </figure>
    <div class="right">
      <h2>Вещи, которые мне нравятся:</h2>
      <ul>
        <li>Очень крутая музыка <a href="https://youtu.be/9YicihzsxqY" target="_blank">The Bad Plus</a>.</li>
        <li>
          Игры от <a href="http://www.zachtronics.com/" target="_blank">Zachtronics</a>, которые настолько просты и
          великолепны, что могут легко заменить школьную программу по информатике.
        </li>
        <li>
          Книги
          <a href="https://www.livelib.ru/author/180342/top-richard-fejnman" target="_blank">Ричарда Фейнмана</a>.
          &laquo;Радость познания&raquo; моя любимая.
        </li>
        <li>
          Лекции <a href="http://ludix.com/moriarty/" target="_blank">Брайана Мориарти</a>, &mdash; особенно
          <a href="http://ludix.com/moriarty/psalm46.html" target="_blank">секрет псалма 46</a>, &mdash; неописуемо
          хороши. Я серьёзно.
        </li>
        <li>
          Сериал <a href="https://www.imdb.com/title/tt0141842/" target="_blank">The Sopranos</a> (и вся музыка в нём)
          от
          которого страшно усисикиваюсь.
        </li>
        <li>Манифест <a href="https://handmade.network/manifesto" target="_blank">сообщества Handmade</a>.</li>
        <li>Фильмы <a href="https://www.kinopoisk.ru/name/48415/" target="_blank">Уэса Андерсона</a>.</li>
      </ul>
    </div>
  </div>

{{ end }}