{{ define "content" }}

<h1>Здравствуй!</h1>

<p>
  Меня зовут Андрей. Я обычный парень из России, живущий в Тутаеве, &mdash; таком маленьком городе, напоминающем Twin
  Peaks <span class="muted">(нет)</span>. Я увлечён разработкой веб-сервисов, веб-приложений (Go, PHP) и видеоигр (C).
  Стоит заметить, что последним я уделяю особое внимание, потому что игры &mdash; совершенная форма человеческой мысли.
</p>
<p>
  В поисках становления профессионалом, я пришёл к идее создания этого места как слепка своих мыслей.<br />
  Начиная с июня 2019, здесь находится весь мой накопленный цифровой опыт, который бы я хотел оставить в памяти Сети.
</p>

<div class="row">
  <figure class="left">
    <img src="/static/img/iam.jpg" alt="ясам" width="250" />
    <figcaption>так я выгляжу</figcaption>
  </figure>
  <div class="right">
    <h2>Вещи, которые мне нравятся:</h2>
    <ul>
      <li>Очень крутая музыка <a href="https://youtu.be/9YicihzsxqY" target="_blank">The Bad Plus</a>.</li>
      <li>
        Игры от <a href="http://www.zachtronics.com/" target="_blank">Zachtronics</a>, которые настолько просты и
        великолепны, что могут легко заменить школьную программу по информатике.
      </li>
      <li>
        Книги
        <a href="https://www.livelib.ru/author/180342/top-richard-fejnman" target="_blank">Ричарда Фейнмана</a>.
        &laquo;Радость познания&raquo; моя любимая.
      </li>
      <li>
        Лекции <a href="http://ludix.com/moriarty/" target="_blank">Брайана Мориарти</a>, &mdash; особенно
        <a href="http://ludix.com/moriarty/psalm46.html" target="_blank">секрет псалма 46</a>, &mdash; неописуемо
        хороши. Я серьёзно.
      </li>
      <li>
        Сериал <a href="https://www.imdb.com/title/tt0141842/" target="_blank">The Sopranos</a> (и вся музыка в нём) от
        которого страшно усисикиваюсь.
      </li>
      <li>Манифест <a href="https://handmade.network/manifesto" target="_blank">сообщества Handmade</a>.</li>
      <li>Фильмы <a href="https://www.kinopoisk.ru/name/48415/" target="_blank">Уэса Андерсона</a>.</li>
    </ul>
  </div>
</div>

{{ end }}
