{{ define "content" }}

<h1>Войти в систему</h1>
<p>поскольку только я имею доступ к админке этого сайта, я задам вопрос: кто вы?</p>

<br>

<form action="" method="post">
    <p>
        <label for="username">пользователь:</label>
        <input id="username" type="text" name="username" placeholder="кто видел ветер?">
    </p>
    <p>
        <label for="password">пароль:</label>
        <input id="password" type="password" name="password" placeholder="ни я, ни ты">
    </p>
    <p>
        <button type="submit">Войти</button>
    </p>
</form>

{{ end }}