{{ define "content" }}
<h1>Навыки</h1>

<dl class="card">
  <dt>C/С++, Jai, Unreal Engine, Unity, Godot – Игры</dt>
  <dd>
    Пишу низкоуровневый код и делаю игры. Понимаю, как устроены движки – иногда изобретаю свои. Работал с Metal, D3D11 и
    Vulkan.
  </dd>

  <dt>Go, PHP – API</dt>
  <dd>
    Веб-сервисы, REST, GraphQL, gRPC. Больше всего люблю монолиты — они простые, стильные, легко поддерживаются. Но и с
    микросервисами справлюсь, если потребуется.
  </dd>

  <dt>JS/TS, Bun, Svelte, Vue <small>(божеупаси не React)</small> – Веб-клиент</dt>
  <dd>
    Одностраничные приложения, SvelteKit, Vuex. Собираю сложные интерфейсы, умею связывать их с API. Есть опыт работы с Qt –
    писал диплом.
  </dd>

  <dt>Nginx, Linux – Сервер</dt>
  <dd>
    Могу поднять сервер, настроить конфиг, прописать реверс-прокси, выписать SSL — всё как надо. Docker тут прилагается по
    требованию.
  </dd>

  <dt>PostgreSQL, MySQL, Redis, NoSQL – Базы данных</dt>
  <dd>
    Работаю с самыми разноликими базами данных. Пишу запросы, составляю виды, продумываю схемы. Само собой, про индексы и
    нормализацию не забываю. Умею профилировать.
  </dd>

  <dt>UI/UX</dt>
  <dd>
    Проектирую интерфейсы — от идеи до клика. Люблю ясные формы, лаконичные очертания. Обожаю старые интерфейсы Apple и
    Xerox. Эх! Вернуть бы те времена...
  </dd>
</dl>
{{ end }}
