{{ define "content" }}
<h1>Навыки</h1>

<dl class="card max-w">
    <dt>C, (С++), Jai, Unreal Engine 5</dt>
    <dd>Пишу низкоуровневый код и делаю игры. Понимаю, как устроены движки – иногда изобретаю свои.</dd>

    <dt>Go, API</dt>
    <dd>
        Веб-сервисы, REST, GraphQL, gRPC. Люблю монолиты — они простые, стильные, легко поддерживаемые. Но и
        микросервисами справлюсь, если потребуется.
    </dd>

    <dt>JS, Bun, Svelte, Vue</dt>
    <dd>Одностраничные приложения, SvelteKit, Vue 3. Легко собираю сложные интерфейсы и связываю их с сервером.</dd>

    <dt>Nginx, Linux</dt>
    <dd>
        Поднять сервер, настроить nginx, прописать реверс-прокси, выписать SSL — не впервой. Docker прилагается по
        желанию.
    </dd>

    <dt>PostgreSQL, MySQL, Redis, NoSQL</dt>
    <dd>
        Работаю с базами данных разных мастей. Пишу запросы, продумываю схемы, не забываю про индексы и нормализацию.
    </dd>

    <dt>UI/UX</dt>
    <dd>Проектирую интерфейсы — от идеи до клика. Предпочитаю ясные, лаконичные формы и немного ретро.</dd>
</dl>
{{ end }}
