{{ define "content" }}
<h1>Любимые вкусы</h1>

<section class="card">
  <ul>
    <li>
      Музыка и слова <a href="https://youtu.be/ywotWCjuVCo" target="_blank">Шуры Журавлёвой</a>, искренняя и честная
      женщина с широким сердцем и доброй душой;
    </li>
    <li>
      Игры <a href="http://www.zachtronics.com/" target="_blank">Zachtronics</a>, такие гениальные и хорошие, что могут
      с лёгкостью заменить школьную программу по информатике;
    </li>
    <li>
      Игры <a href="https://dukope.com" target="_blank">Лукаса Поупа</a>, дизайн которых я будто подсознательно копирую
      в каждой своей идее;
    </li>
    <li>
      Мудрости и подкасты
      <a href="https://www.youtube.com/channel/UC9Qe2834LunRp6gpIvHSteA/featured" target="_blank">ЮРИЯ ВАФИНА</a>. Тут и
      преисполниться, и посмеяться, и подумать: вот уж кто мастерски́ владеет русским языком!;
    </li>
    <li>
      Клавиатуры <a href="https://hhkb.io" target="_blank">HHKB</a> – аккуратные, строгие, стильные, и с мягким откликом
      в каждом касании;
    </li>
    <li>
      Манифест <a href="https://handmade.network/manifesto" target="_blank">сообщества Handmade</a>, а также Джонатан
      Блоу и Кейси Муратори, на плечи которых пытаюсь взобраться;
    </li>
    <li>
      Лекции и педагогический талант Алексея Семихатова. Если есть деньги и тяга к познанию устройства вселенной, купите
      его <a href="https://alpinabook.ru/authors/aleksey-semikhatov" target="_blank">книги</a>;
    </li>
    <li><a href="https://www.kinopoisk.ru/film/8366" target="_blank">The Thing (1982)</a> Джона Карпентера.</li>
  </ul>
</section>

{{ end }}
